# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# SQLite database
*.sqlite3

# Django static & media
/staticfiles/
/media/

# macOS
.DS_Store

# VSCode / IDE
.vscode/
.idea/

# Environment variables
.env
